@charset "utf-8";
/* CSS Document */
a{text-decoration:none;}
ul li{list-style:none;}
ul{
	margin:0;
	padding:0;}
#H_head{
	margin:0 auto;
	height:270px;
	width:960px;
	background:url(../image/headBg.jpg) no-repeat;
	position:relative;
}
#H_nav{
	height:50px;
	width:580px;
	background:url(../image/navBg.gif)  repeat-x;
	position:absolute;
	top:180px;
	left:270px;}
#H_nav ul{
	margin:7px auto 22px 25px;
	padding-left:40px;
	height:50px;
	z-index:2;
	position:absolute;}
#H_nav ul li{
	height:50px;
	width:75px;
	float:left;
	text-align:center;
	line-height:50px;
	}
#H_nav ul li a{
	color:#666;
	font-weight:bold;
	font-size:14px;
	font-family:楷体;}
#H_nav span{
	display:block;
	overflow:hidden;
	height:5px;
	width:70px;
	background:url(../image/green.png) no-repeat;
	position:absolute;
	top:42px;
	left:67px;
	opacity:0.5;
	filter:alpha(opacity=50);
	z-index:1;}

#H_foot{
	position:relative;
	height:300px;
	width:960px;
	margin:0 auto;
	background:url(../image/footBg.jpg) no-repeat;}
#H_friendLink{
	position:absolute;
	top:100px;
	left:400px;
}
#H_foot a{ 
	color:#999;
	font-size:13px;}
#H_foot a:hover{color:#FFF;}