/* CSS Document */
body{
	width:962px;
	height:1470px;
	margin:0 auto;
	padding:0 auto;
    font-family:"Microsoft YaHei UI";
	/*border:1px solid black;*/
}
 
 a{ 
 	text-decoration:none;
 }
 
 ul{
    list-style:none;
	margin:0px;
 }
 
 li{
    list-style:none;
 }
 
 img{
	 border:0px;
 }
 

#Ncontainer{
	width:962px;
	height:970px;
}

#Nposi-wrapper{
	width:962px;
	height:40px;
	border-bottom:1px solid #9A9A9A;
	position:relative;
	margin-bottom:10px;
}

.Nposition{
	width:286px;
	height:36px;
	font-size:14px; 
	line-height:36px;
	padding-left:1px;
	background-color:#FF3300;
	background-image:url(../image/Nposi-wapper.jpg);
	margin-top:2px;
	float:left:
}

.Nsearch{
	width:240px;
	height:36px;
	position:absolute;
	right:0px;
	top:2px;	
}

.Nsearch-input{
	width:200px;
	height:22px;
	margin-top:3px;
	float:left;
}

.Nsearch-btn{
	width:30px;
	height:25px;
	margin-top:3px;
	float:right;
}

#Nmain-wrapper{
	width:960px;
	height:900px; 
}

#NmainLeft-wrapper{
	width:280px;
	height:900px;
	float:left;

}

#Nnotice{
	width:280px;
	height:280px; 
	border-bottom:1px solid #9A9A9A;
}

.Nmore {
	font-size:13px;
	float:right;
}

.Nmore a{
	color:#FF0000;	
}

.Nmore a:hover{
	color:#000000; 
	text-decoration:underline;
}

.Nspan-label{
	font-size:14px;
	color:#000000;
}

 .Nnotice-view{
 	width:275px;
	height:30px;
	line-height:25px;
	padding-top:0px;
	margin-top:5px;
 }
 

 .Nnotice-views{
 	display:block; 
	color:#999999; 
	font-size:12px;
	margin-top:0px;
	float:right;
 }
 
 .NnoticeViews-title{
    width:200px; 
 	font-size:12px;
	height:22px;
	float:left;
    display:block;
	margin-top:0px;
 }
 
 .NnoticeViews-title img{
  	margin-bottom:-1px;
  }
 
 .NnoticeViews-title a{
 	color:#666666;
 }
 
 .NnoticeViews-title a:hover{
 	color:#000000;
 }
 
#Nservice{
	width:280px;
	height:350px;
	margin-bottom:20px;
}

 #Ntab-title{
 	width:277px;
    height:30px; 
	line-height:30px;
	font-size:13px; 
	color:#000000;
	margin-bottom:15px;
	background-color:#f2f2f2;
 }
 
 #Ntab-title li{
 	width:91px;
	height:30px;
	text-align:center;
	float:left;
	border-right:1px solid #CCCCCC;
 }
 
 #Ntab-title li:hover{
 	background-color:#FE3410;
 }
 
  #Ntaba-detail{
 	width:280px;
	height:225px;
	font-size:14px;
	letter-spacing:1px;
	display:block;
 }
 
 .Nservice-date{
	color:#999999; 
	font-size:12px;
	margin-top:0px;
	float:right;
 }
 
 .Ntaba-detail-title{
    width:195px; 
 	font-size:12px;
	height:30px;
    display:block;
	float:left;
	margin-top:0px;
	margin-bottom:4px;
 }
 
 .Ntaba-detail-title img{
  	margin-bottom:-1px;
  }
  
 .Ntaba-detail-title a{
 	color:#666666;
 }
 
 .Ntaba-detail-title a:hover{
 	color:#000000;
 }
 
 #Ntabb-detail{
 	width:280px;
	height:215px;
	font-size:12px;
	letter-spacing:1px;
	display:none;
 }
 
 .Ntabb-detail-title{
    width:280px; 
 	font-size:12px;
	height:25px;
    display:block;
	margin-top:0px;
	margin-bottom:4px;
 }
 
 .Ntabb-detail-title a{
 	color:#666666;;
 }
 
 .Ntabb-detail-title a:hover{
 	color:#000000;
 }
 
 #Ntabc-detail{
 	width:280px;
	height:215px;
	font-size:14px;
	letter-spacing:1px;
	display:none;
 }
 
 
 .Ntabc-detail-title{
    width:210px; 
 	font-size:12px;
	height:22px;
    display:block;
	float:left;
	margin-top:0px;
	margin-bottom:4px;
 }
 
 .Ntabc-detail-title a{
 	color:#0da4d3;
 }
 
 .Ntabc-detail-title a:hover{
 	color:#000000;
 }
 
 #Nmultiple{
 	width:280px;
	height:350px;
 }
 
.Nmultiple-label{
	width:240px;
	height:30px;
	line-height:30px;
	padding-left:2px;
	background-image:url(../image/Nlabel_bj.gif);
}

.Nmultiple-detail{
	width:240px;
	height:170px;
}
 

#NmainRight-wrapper{
	width:640px;
	height:1100px;
	float:right;
}

#Nscroll-container{
	width:640px;
	height:320px;
	top:10px;
	right:0px;
	overflow:hidden;
	position:relative;
}

#Nscroll-list{
	width:4480px;
	height:320px;
	position:absolute;
	z-index:1;
}

#Nscroll-list img{
	float:left;
	width:640px;
	height:320px;
}

#N_nword{
 	width:640px;
	height:40px;
	line-height:40px;
	text-align:center;
	position:absolute;
	bottom:0px;
	color:#FFFFFF;
	font-size:12px;
	z-index:2;
	background-color:black;
	filter:alpha(opacity=40);
	-moz-opacity: 0.4;
	opacity:0.4
 }
 
 #N_nword:hover{
	background-color:black;
	filter:alpha(opacity=80);
	-moz-opacity: 0.8;
	opacity:0.8;
 }
 
 #N_nword a{color:white; }
 

#Nscroll-buttons{
	position:absolute;
	height:10px;
	width:100px;
	z-index:2; 
	right:50px;bottom:15px;
}

#Nscroll-buttons span{
	width:10px;
	height:10px;
	line-height:10px;
	cursor:pointer;
	display:block;
	margin-right:2px;
	text-align:center;
	font-size:12px;
	color:#FFFFFF;
	background-color:#666666;
	float:left; 
	border:1px solid #fff;
}

#prev{
	cursor:pointer;
	/*display:none;*/
	line-height:39px;
	text-align:center;
	position:absolute;
	top:140px;
	z-index:2;
	left:20px;
}

#next{
	cursor:pointer;
	/*display:none;*/
	line-height:39px;
	text-align:center;
	position:absolute;
	z-index:2;
	top:140px;
	right:20px;
	
}
 
#NclassNews{
	width:640px;
	height:190px;
	margin-top:30px;
	background-color:#D3D3D3;
}  

#NclassNews li{
	*height:1%;
}

#Nclass-list{
	width:146px;
	height:190px;
	float:left;
	margin-right:15px;
	display:inline;
	font-size:12px;
	color:#000000;
}

#Nclass-list img{
	border:4px solid #999999;
	width:146px;
	height:130px;
}

#NcampusNews{
	width:640px;
	height:320px;
	margin-top:30px;
	margin-right:0px;
}

#Ncampus-label{
	width:222px;
	height:30px;
	background-image:url(../image/Ncampus-label.png); background-repeat:no-repeat;
}

#Ncampus-label p{
	padding-left:25px;
	padding-top:6px;
	font-size:15px;
}

#Ncampus-detail{
	width:550px;
	height:270px;
	margin-top:20px;
	margin-left:45px;
}

 .Ncampus-view{
 	width:550px;
	height:30px;
	line-height:25px;
	padding-top:0px;
	margin-top:5px;
 }

 .Ncampus-views{
 	display:block; 
	color:#999999; 
	font-size:12px;
	margin-top:0px;
	float:right;
 }
 
 .NcampusViews-title{
    width:400px; 
 	font-size:12px;
	height:22px;
	float:left;
    display:block;
	margin-top:0px;
 }
 
 .NcampusViews-title img{
  	margin-bottom:-1px;
  }
 
 .NcampusViews-title a{
 	color:#666666;
 }
 
 .NcampusViews-title a:hover{
 	color:#000000;
 }


#Nfooter{ 
	width:960px;
	height:106px;
	background-image:url(../image/Nfooter.jpg); background-repeat:no-repeat;
}  

 

